@import '../../common/media';

.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;

   @include w768 {
      flex-direction: column;
   }
}

// .menu_groups {
//    @include w540 {
//       width: 100%;
//       overflow: auto;
//    }
// }

.menu_groups__items {
   label {
      margin-right: 16px;
      border-radius: 16px;
      border: none;

      background-color: #e2e2e2;
      font-weight: 600;

      &:before {
         width: 0 !important;
      }

      &:first-child,
      &:last-child {
         border-radius: 16px;
      }
   }

   &:first-child,
   &:last-child {
      border-radius: 16px;
   }

   @include w768 {
      label {
         margin-bottom: 10px;
      }
   }
   
   @include w540 {
      label {
         margin-right: 5px;
         padding: 0 10px;
      }
      span {
         font-size: 14px;
      }
   }
}