@import '../../common/media';

.header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

   @include w540 {
      position: fixed;
      top: 0;
      left: 0;
      padding: 10px;
      padding-bottom: 15px;
      z-index: 1000;
      border-bottom: #ccc solid 1px;

      background-color: #fff;

   }
}

.header_logo {
   display: flex;
   align-items: center;

   img {
      height: 50px;
      transform: rotate(30deg);

      @include w540 {
         height: 40px;
      }
   }
}

.header_logo__title {
   padding: 0;
   margin: 0 15px;
   line-height: 1.1;

   font-size: 28px;
   color: rgb(37, 37, 37);
   font-weight: 600;

   @include w540 {
      font-size: 20px;
   }
}

.cart_quantity_btn {
   display: flex !important;
   font-weight: 600 !important;

   svg {
      margin-left: 5px;
   }
}

.cart_quantity_btn__divider {
   margin: 0 10px;
   transform: translateY(-1px);
   font-weight: 700;
}