.header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header_logo {
   display: flex;
   align-items: center;

   img {
      height: 50px;
      transform: rotate(30deg);
   }
}

.header_logo__title {
   padding: 0;
   margin-left: 10px;

   span {
      font-size: 24px;
      color: rgb(37, 37, 37);
   }
}

.cart_quantity_btn {
   display: flex !important;
   font-weight: 600 !important;

   svg {
      margin-left: 5px;
   }
}

.cart_quantity_btn__divider {
   margin: 0 10px;
   transform: translateY(-1px);
   font-weight: 700;
}